.WACContainer, :root {
    --WatsonAssistantChat-THEME-interactive-01: #0f62fe;
    --WatsonAssistantChat-THEME-interactive-02: #393939;
    --WatsonAssistantChat-THEME-interactive-03: #0f62fe;
    --WatsonAssistantChat-THEME-interactive-04: #0f62fe;
    --WatsonAssistantChat-THEME-ui-background: #f4f4f4;
    --WatsonAssistantChat-THEME-ui-01: #fff;
    --WatsonAssistantChat-THEME-ui-02: #f4f4f4;
    --WatsonAssistantChat-THEME-ui-03: #e0e0e0;
    --WatsonAssistantChat-THEME-ui-04: #8d8d8d;
    --WatsonAssistantChat-THEME-ui-05: #161616;
    --WatsonAssistantChat-THEME-text-01: #161616;
    --WatsonAssistantChat-THEME-text-02: #393939;
    --WatsonAssistantChat-THEME-text-03: #a8a8a8;
    --WatsonAssistantChat-THEME-text-04: #fff;
    --WatsonAssistantChat-THEME-text-05: #6f6f6f;
    --WatsonAssistantChat-THEME-icon-01: #161616;
    --WatsonAssistantChat-THEME-icon-02: #525252;
    --WatsonAssistantChat-THEME-icon-03: #fff;
    --WatsonAssistantChat-THEME-link-01: #0f62fe;
    --WatsonAssistantChat-THEME-inverse-link: #78a9ff;
    --WatsonAssistantChat-THEME-field-01: #fff;
    --WatsonAssistantChat-THEME-field-02: #f4f4f4;
    --WatsonAssistantChat-THEME-inverse-01: #fff;
    --WatsonAssistantChat-THEME-inverse-02: #393939;
    --WatsonAssistantChat-THEME-support-01: #da1e28;
    --WatsonAssistantChat-THEME-support-02: #24a148;
    --WatsonAssistantChat-THEME-support-03: #f1c21b;
    --WatsonAssistantChat-THEME-support-04: #0043ce;
    --WatsonAssistantChat-THEME-inverse-support-01: #fa4d56;
    --WatsonAssistantChat-THEME-inverse-support-02: #42be65;
    --WatsonAssistantChat-THEME-inverse-support-03: #f1c21b;
    --WatsonAssistantChat-THEME-inverse-support-04: #4589ff;
    --WatsonAssistantChat-THEME-overlay-01: rgba(22,22,22,0.5);
    --WatsonAssistantChat-THEME-danger: #da1e28;
    --WatsonAssistantChat-THEME-focus: #0f62fe;
    --WatsonAssistantChat-THEME-inverse-focus-ui: #fff;
    --WatsonAssistantChat-THEME-hover-primary: #0353e9;
    --WatsonAssistantChat-THEME-active-primary: #002d9c;
    --WatsonAssistantChat-THEME-hover-primary-text: #0043ce;
    --WatsonAssistantChat-THEME-hover-secondary: #4c4c4c;
    --WatsonAssistantChat-THEME-active-secondary: #6f6f6f;
    --WatsonAssistantChat-THEME-hover-tertiary: #0353e9;
    --WatsonAssistantChat-THEME-active-tertiary: #002d9c;
    --WatsonAssistantChat-THEME-hover-ui: #e5e5e5;
    --WatsonAssistantChat-THEME-active-ui: #c6c6c6;
    --WatsonAssistantChat-THEME-selected-ui: #e0e0e0;
    --WatsonAssistantChat-THEME-inverse-hover-ui: #4c4c4c;
    --WatsonAssistantChat-THEME-hover-selected-ui: #cacaca;
    --WatsonAssistantChat-THEME-hover-danger: #ba1b23;
    --WatsonAssistantChat-THEME-active-danger: #750e13;
    --WatsonAssistantChat-THEME-hover-row: #e5e5e5;
    --WatsonAssistantChat-THEME-visited-link: #8a3ffc;
    --WatsonAssistantChat-THEME-disabled-01: #fff;
    --WatsonAssistantChat-THEME-disabled-02: #c6c6c6;
    --WatsonAssistantChat-THEME-disabled-03: #8d8d8d;
    --WatsonAssistantChat-THEME-highlight: #d0e2ff;
    --WatsonAssistantChat-THEME-skeleton-01: #e5e5e5;
    --WatsonAssistantChat-THEME-skeleton-02: #c6c6c6;
    --WatsonAssistantChat-THEME-brand-01: #0f62fe;
    --WatsonAssistantChat-THEME-brand-02: #393939;
    --WatsonAssistantChat-THEME-brand-03: #0f62fe;
    --WatsonAssistantChat-THEME-active-01: #c6c6c6;
    --WatsonAssistantChat-THEME-hover-field: #e5e5e5;
    --WatsonAssistantChat-AGENT-end-chat-container-height: 44px;
    --WatsonAssistantChat-AGENT-status-message: var(--WatsonAssistantChat-THEME-text-05);
    --WatsonAssistantChat-AGENT-agent-online-color: var(--WatsonAssistantChat-THEME-inverse-support-02);
    --WatsonAssistantChat-AGENT-agent-offline-color: #e5e5e5;
    --WatsonAssistantChat-AGENT-header-background: var(--WatsonAssistantChat-CHAT-HEADER-background);
    --WatsonAssistantChat-AGENT-header-color: var(--WatsonAssistantChat-CHAT-HEADER-color);
    --WatsonAssistantChat-BASE-accent-color: var(--WatsonAssistantChat-THEME-interactive-01);
    --WatsonAssistantChat-BASE-accent-secondary-color: var(--WatsonAssistantChat-THEME-hover-primary);
    --WatsonAssistantChat-BASE-primary-color: var(--WatsonAssistantChat-THEME-ui-01);
    --WatsonAssistantChat-BASE-secondary-color: var(--WatsonAssistantChat-THEME-inverse-02);
    --WatsonAssistantChat-BASE-accent-font-color: var(--WatsonAssistantChat-THEME-text-04);
    --WatsonAssistantChat-BASE-primary-font-color: var(--WatsonAssistantChat-THEME-text-01);
    --WatsonAssistantChat-BASE-secondary-font-color: var(--WatsonAssistantChat-THEME-inverse-01);
    --WatsonAssistantChat-BASE-spacing-01: 2px;
    --WatsonAssistantChat-BASE-spacing-02: 4px;
    --WatsonAssistantChat-BASE-spacing-03: 8px;
    --WatsonAssistantChat-BASE-spacing-04: 12px;
    --WatsonAssistantChat-BASE-spacing-05: 16px;
    --WatsonAssistantChat-BASE-spacing-06: 24px;
    --WatsonAssistantChat-BASE-spacing-07: 32px;
    --WatsonAssistantChat-BASE-spacing-08: 40px;
    --WatsonAssistantChat-BASE-spacing-09: 48px;
    --WatsonAssistantChat-BASE-animation-time: 0.3s;
    --WatsonAssistantChat-BASE-font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
    --WatsonAssistantChat-BASE-semibold-weight: 600;
    --WatsonAssistantChat-BASE-extra-small-font-size: 8px;
    --WatsonAssistantChat-BASE-small-font-size: 12px;
    --WatsonAssistantChat-BASE-med-font-size: 14px;
    --WatsonAssistantChat-BASE-large-font-size: 16px;
    --WatsonAssistantChat-BASE-xlarge-font-size: 24px;
    --WatsonAssistantChat-BASE-small-line-height: 16px;
    --WatsonAssistantChat-BASE-med-line-height: 18px;
    --WatsonAssistantChat-BASE-large-line-height: 24px;
    --WatsonAssistantChat-BASE-xsmall-border-radius: 2px;
    --WatsonAssistantChat-BASE-small-border-radius: 5px;
    --WatsonAssistantChat-BASE-med-border-radius: 8px;
    --WatsonAssistantChat-BASE-large-border-radius: 12px;
    --WatsonAssistantChat-BASE-xlarge-border-radius: 16px;
    --WatsonAssistantChat-BASE-small-border-width: 1px;
    --WatsonAssistantChat-BASE-med-border-width: 2px;
    --WatsonAssistantChat-BASE-box-shadow: 1px 0 4px hsla(0,0%,9%,0.3);
    --WatsonAssistantChat-BASE-height: calc(100vh - 128px);
    --WatsonAssistantChat-BASE-max-height: 640px;
    --WatsonAssistantChat-BASE-min-height: 256px;
    --WatsonAssistantChat-BASE-width: 360px;
    --WatsonAssistantChat-BASE-z-index: 99999;
    --WatsonAssistantChat-BASE-bottom-position: var(--WatsonAssistantChat-BASE-spacing-07);
    --WatsonAssistantChat-BASE-right-position: var(--WatsonAssistantChat-BASE-spacing-07);
    --WatsonAssistantChat-BASE-top-position: auto;
    --WatsonAssistantChat-BASE-left-position: auto;
    --WatsonAssistantChat-BUTTON-SEND-icon-fill: var(--WatsonAssistantChat-BASE-accent-font-color);
    --WatsonAssistantChat-BUTTON-SEND-icon-fill-disabled: var(--WatsonAssistantChat-THEME-text-03);
    --WatsonAssistantChat-BUTTON-border-radius: var(--WatsonAssistantChat-BASE-xlarge-border-radius);
    --WatsonAssistantChat-BUTTON-active-background-color: var(--WatsonAssistantChat-THEME-inverse-02);
    --WatsonAssistantChat-BUTTON-active-font-color: var(--WatsonAssistantChat-THEME-inverse-01);
    --WatsonAssistantChat-BUTTON-background-color: var(--WatsonAssistantChat-THEME-ui-03);
    --WatsonAssistantChat-BUTTON-background-color-hover: var(--WatsonAssistantChat-THEME-active-ui);
    --WatsonAssistantChat-BUTTON-font-color: var(--WatsonAssistantChat-THEME-text-01);
    --WatsonAssistantChat-BUTTON-font-size: var(--WatsonAssistantChat-BASE-small-font-size);
    --WatsonAssistantChat-BUTTON-line-height: var(--WatsonAssistantChat-BASE-small-line-height);
    --WatsonAssistantChat-BUTTON-selected-background-color: var(--WatsonAssistantChat-THEME-inverse-02);
    --WatsonAssistantChat-BUTTON-selected-font-color: var(--WatsonAssistantChat-THEME-inverse-01);
    --WatsonAssistantChat-BUTTON-font-family: var(--WatsonAssistantChat-BASE-font-family);
    --WatsonAssistantChat-BUTTON-base-animation-fade-in: WatsonAssistantChat_SendButtonfade-in var(--WatsonAssistantChat-BASE-animation-time);
    --WatsonAssistantChat-BUTTON-base-opacity-enabled: 0.8;
    --WatsonAssistantChat-BUTTON-base-animation-fade-out: WatsonAssistantChat_SendButtonfade-out var(--WatsonAssistantChat-BASE-animation-time);
    --WatsonAssistantChat-BUTTON-primary-background-disabled: var(--WatsonAssistantChat-THEME-field-01);
    --WatsonAssistantChat-BUTTON-primary-border-disabled: var(--WatsonAssistantChat-BASE-med-border-width) solid var(--WatsonAssistantChat-THEME-field-01);
    --WatsonAssistantChat-BUTTON-primary-box-shadow-focus: inset 0 0 0 var(--WatsonAssistantChat-BASE-small-border-width) var(--WatsonAssistantChat-THEME-field-01);
    --WatsonAssistantChat-BUTTON-primary-background-enabled: var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-primary-border-enabled: var(--WatsonAssistantChat-BASE-med-border-width) solid var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-primary-active-border-enabled: var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-primary-box-shadow-enabled: inset 0 0 0 var(--WatsonAssistantChat-BASE-small-border-width) var(--WatsonAssistantChat-THEME-field-01);
    --WatsonAssistantChat-BUTTON-primary-color: var(--WatsonAssistantChat-BASE-accent-font-color);
    --WatsonAssistantChat-BUTTON-primary-background-enabled-hover: var(--WatsonAssistantChat-BASE-accent-secondary-color);
    --WatsonAssistantChat-BUTTON-primary-border-enabled-hover: solid var(--WatsonAssistantChat-BASE-med-border-width) var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-ghost-background-disabled: transparent;
    --WatsonAssistantChat-BUTTON-ghost-border-disabled: var(--WatsonAssistantChat-BASE-med-border-width) solid transparent;
    --WatsonAssistantChat-BUTTON-ghost-border-focus: var(--WatsonAssistantChat-BASE-med-border-width) solid var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-ghost-background-enabled: transparent;
    --WatsonAssistantChat-BUTTON-ghost-border-enabled: var(--WatsonAssistantChat-BASE-med-border-width) solid transparent;
    --WatsonAssistantChat-BUTTON-ghost-active-border-enabled: transparent;
    --WatsonAssistantChat-BUTTON-ghost-box-shadow-enabled: none;
    --WatsonAssistantChat-BUTTON-ghost-color: var(--WatsonAssistantChat-BASE-accent-color);
    --WatsonAssistantChat-BUTTON-ghost-background-enabled-hover: var(--WatsonAssistantChat-THEME-hover-ui);
    --WatsonAssistantChat-BUTTON-ghost-border-enabled-hover: var(--WatsonAssistantChat-BASE-med-border-width) solid transparent;
    --WatsonAssistantChat-CARD-box-shadow: 0 2px 4px 0 var(--WatsonAssistantChat-THEME-skeleton-01);
    --WatsonAssistantChat-CARD-background: var(--WatsonAssistantChat-THEME-ui-01);
    --WatsonAssistantChat-CHAT-HEADER-font-family: var(--WatsonAssistantChat-BASE-font-family);
    --WatsonAssistantChat-CHAT-HEADER-background: var(--WatsonAssistantChat-BASE-primary-color);
    --WatsonAssistantChat-CHAT-HEADER-color: var(--WatsonAssistantChat-BASE-primary-font-color);
    --WatsonAssistantChat-CHAT-HEADER-border-bottom: 1px solid var(--WatsonAssistantChat-THEME-ui-03);
    --WatsonAssistantChat-CHAT-HEADER-font-size: var(--WatsonAssistantChat-BASE-large-font-size);
    --WatsonAssistantChat-CHAT-HEADER-font-weight: 600;
    --WatsonAssistantChat-CHAT-HEADER-line-height: 20px;
    --WatsonAssistantChat-CHAT-HEADER-icon-height: 20px;
    --WatsonAssistantChat-CHAT-HEADER-icon-width: 20px;
    --WatsonAssistantChat-CHAT-HEADER-padding: 14px 12px 14px 0;
    --WatsonAssistantChat-CHAT-HEADER-button-opacity-hover: 0.8;
    --WatsonAssistantChat-CHAT-HEADER-BUTTON-ghost-background-enabled-hover: var(--WatsonAssistantChat-THEME-hover-ui);
    --WatsonAssistantChat-INPUT-active-font-color: var(--WatsonAssistantChat-THEME-text-01);
    --WatsonAssistantChat-INPUT-border-top: var(--WatsonAssistantChat-BASE-small-border-width) solid var(--WatsonAssistantChat-THEME-ui-03);
    --WatsonAssistantChat-INPUT-font-family: var(--WatsonAssistantChat-BASE-font-family);
    --WatsonAssistantChat-INPUT-font-size: var(--WatsonAssistantChat-BASE-med-font-size);
    --WatsonAssistantChat-INPUT-height: 48px;
    --WatsonAssistantChat-INPUT-line-height: var(--WatsonAssistantChat-BASE-med-line-height);
    --WatsonAssistantChat-INPUT-min-height: 0;
    --WatsonAssistantChat-LAUNCHER-width: 56px;
    --WatsonAssistantChat-LAUNCHER-height: 56px;
    --WatsonAssistantChat-LAUNCHER-icon-width: 32px;
    --WatsonAssistantChat-LAUNCHER-icon-height: 32px;
    --WatsonAssistantChat-LAUNCHER-position-top: auto;
    --WatsonAssistantChat-LAUNCHER-position-bottom: var(--WatsonAssistantChat-BASE-spacing-07);
    --WatsonAssistantChat-LAUNCHER-position-left: auto;
    --WatsonAssistantChat-LAUNCHER-position-right: var(--WatsonAssistantChat-BASE-spacing-07);
    --WatsonAssistantChat-MESSAGE-line-height: var(--WatsonAssistantChat-BASE-med-line-height);
    --WatsonAssistantChat-MESSAGE-received-font-color: var(--WatsonAssistantChat-THEME-text-01);
    --WatsonAssistantChat-MESSAGE-sent-background-color: var(--WatsonAssistantChat-BASE-secondary-color);
    --WatsonAssistantChat-MESSAGE-sent-border-radius: var(--WatsonAssistantChat-BASE-med-border-radius) var(--WatsonAssistantChat-BASE-med-border-radius) 0 var(--WatsonAssistantChat-BASE-med-border-radius);
    --WatsonAssistantChat-MESSAGE-sent-font-color: var(--WatsonAssistantChat-BASE-secondary-font-color);
    --WatsonAssistantChat-MESSAGE-font-size: var(--WatsonAssistantChat-BASE-med-font-size);
    --WatsonAssistantChat-MESSAGE-bar-width: 3px;
    --WatsonAssistantChat-MESSAGE-received-max-width: calc(100% - var(--WatsonAssistantChat-MESSAGE-bar-width) - var(--WatsonAssistantChat-BASE-spacing-03) - 4px);
    --WatsonAssistantChat-MESSAGE-sent-tooltip-size: 8px;
    --WatsonAssistantChat-MESSAGE-sent-tooltip-border-left: var(--WatsonAssistantChat-MESSAGE-sent-tooltip-size) solid transparent;
    --WatsonAssistantChat-MESSAGE-sent-tooltip-border-top: var(--WatsonAssistantChat-MESSAGE-sent-tooltip-size) solid var(--WatsonAssistantChat-MESSAGE-sent-background-color);
    --WatsonAssistantChat-MESSAGE-sent-tooltip-bottom-position: -8px;
    --WatsonAssistantChat-MESSAGE-sent-tooltip-right-position: 0px;
    --WatsonAssistantChat-MESSAGE-inlineError-icon-radius: var(--WatsonAssistantChat-BASE-xlarge-border-radius);
    --WatsonAssistantChat-PROCESS-header-background: var(--WatsonAssistantChat-CHAT-HEADER-background);
    --WatsonAssistantChat-PROCESS-header-color: var(--WatsonAssistantChat-CHAT-HEADER-color);
}

a {
    text-decoration: none;
}
